
.mainDisplayTable{
	border:solid;
	width: 40%;
	border-collapse: collapse;
}

tr{
	text-align:center;
}

td{
	width:25%;
}


button{
  width:10%;
  background-color: #4295f5;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:5px;
}

button.hover, button.active {
	background-color: red;
}

.mainMenu{
	background-color:#022673;
	width:12%;
	height:25px;
	border-radius:5px 5px 0px 0px;
	display:flex;

}


a:link, a:visited {
  width:100%;
  background-color: #4295f5;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:5px;
  margin:2px;
  height:20px;
}

a:hover, a:active {
  background-color: #054b9c;
}